<div class="row">
  <div class="col">
    <p><a href="http://localhost:4000/users">Users</a></p>
    <p><a href="http://localhost:4000/companies">Companies</a></p>
    <p><a href="http://localhost:4000/entries">Entries</a></p>
  </div>
</div>