<div class="row">
  <div class="col">
    <p><a href="http://dbproject.devcalibur.com/users">Users</a></p>
    <p><a href="http://dbproject.devcalibur.com/companies">Companies</a></p>
    <p><a href="http://dbproject.devcalibur.com/entries">Entries</a></p>
  </div>
</div>